## Sets


- A set is a well defined collection of objects 
- collection of elements
- Sets allows the user to store duplicate values while initilizing stage
- But after that it remove duplicate data after declaration 
- set is defined as set()
- but set is directly defined and represent as {}
- It cannot follow order

In [1]:
set1=set([10,20,"Indu","Vemu colg","siddu","90"])
print(set1)
print(type(set1))

{'Vemu colg', 'Indu', 10, '90', 'siddu', 20}
<class 'set'>

In [2]:
set2={10,20,"Indu","Vemu colg","siddu","90"}
print(set2)
print(type(set2))

{'Vemu colg', 'Indu', 10, '90', 'siddu', 20}
<class 'set'>

In [3]:
for item in set2:
    print(item)

Vemu colg
Indu
10
90
siddu
20

In [4]:
## Can u elimiate the duplicate elements in list?   ----> directly not possible in list
# By implementing our logic to find unquie list with the help of set


# In list
mylist=[13,24,35,46,57,57,46,36,78,78,69,47]  # 56,46,78
unique=[]  # No duplicate values
for num in mylist:
    if num not in unique:
        unique.append(num)
        
unique

[13, 24, 35, 46, 57, 36, 78, 69, 47]

In [5]:
# In set We automatically remove the duplicates
myset={13,24,35,46,57,57,46,36,78,78,69,47}  # set didnt follow order but remove duplicates
print(myset)
print(type(myset))

{35, 36, 69, 13, 46, 78, 47, 24, 57}
<class 'set'>

In [6]:
a={13,2,3,4,6,1,2,3,5,3,6,7,9}

# union ,Intersetion,disjoint , difference, subset,superset ......

In [7]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [9]:
# Creating set

s1={1,3,5,7,9,11,13,1,3,5,7}
print(s1)
print(type(s1))

{1, 3, 5, 7, 9, 11, 13}
<class 'set'>

In [10]:
#Accesing values in a set
s1[2]   # In set values are not accesable

TypeError: 'set' object is not subscriptable

In [11]:
# Using add method 
s1

{1, 3, 5, 7, 9, 11, 13}

In [12]:
s1.add(17)
print(s1)

{1, 3, 5, 7, 9, 11, 13, 17}

In [13]:
# Update method
list1=[1,2,5,6,2,3]
s1.update(list1)
print(list1,type(list1))
print(s1,type(s1))

[1, 2, 5, 6, 2, 3] <class 'list'>
{1, 2, 3, 5, 6, 7, 9, 11, 13, 17} <class 'set'>

In [14]:
# discard     ----->nothing but delete
s1.discard(2)
print(s1)

{1, 3, 5, 6, 7, 9, 11, 13, 17}

In [15]:
# remove
s1

{1, 3, 5, 6, 7, 9, 11, 13, 17}

In [17]:
s1.remove(6)
print(s1)

{1, 3, 5, 7, 9, 11, 13, 17}

In [23]:
# Union Operation

s2={1,3,5,7,9,7,9,5}
s3={2,4,4,6,8,0,4,2,4,9}
union1=s2|s3       # Union synbol (|)
union1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# Intersection

print(s2)
print(s3)
intersection1=s2&s3
print(intersection1)

{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8, 9}
{9}

In [25]:
# Difference -
print(s2)
print(s3)
diff1=s2-s3
print(diff1)
diff2=s3-s2
print(diff2)

{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8, 9}
{1, 3, 5, 7}
{0, 2, 4, 6, 8}

In [27]:
# Symmetric difference
print(s2)
print(s3)
symm=s2^s3
print(symm)
symm1=s3^s2
print(symm1)

{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
# Comparision operator using  two sets
print(s2)
print(s3)
compare=s2==s3
print(compare)
s4={1,3,5,7,9}
compare1=s2==s4
print(compare1)
compare3=s2<s3
print(compare3)
compare4=s3>=s4
print(compare4)

{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8, 9}
False
True
False
False

In [33]:
# Membership operator (in,not in)
print(s1)
print(s2)
print(s3)

{1, 3, 5, 7, 9, 11, 13, 17}
{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8, 9}

In [34]:
17 in s1

True

In [35]:
10 in s1

False

In [36]:
12 not in s2

True

In [37]:
# Iterations ---> for loop
for num in s1:
    print(num)

1
3
5
7
9
11
13
17

In [38]:
# Clear

print(s1)
s1.clear()
print(s1)

{1, 3, 5, 7, 9, 11, 13, 17}
set()

## Dictionary 

- It is defined as {}
- It is immutable also hetrogeneous 
- It supports all data types(int,float,string,list,tuple,set, dict)
- {key: value}
    - key : is a unique value
    - Value is not unique
    
 - DictionaRY IS FULLY DEPEND ON KEYS

In [39]:
d={1,2,3,4,1,2,3,4}
print(d)
print(type(d))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# How to we define dictionary
dictionay=dict({key:val})

In [40]:
dict1={"no":"36","name":"Indu",1:1,"branches":("CSE","ECE","EEE","CIVIL")}
dict1

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL')}

In [41]:
dict1.keys()   # only keys

dict_keys(['no', 'name', 1, 'branches'])

In [42]:
dict1.values() # only values

dict_values(['36', 'Indu', 1, ('CSE', 'ECE', 'EEE', 'CIVIL')])

In [44]:
dict1.items() # both keys and values in tuple format

dict_items([('no', '36'), ('name', 'Indu'), (1, 1), ('branches', ('CSE', 'ECE', 'EEE', 'CIVIL'))])

In [45]:
# How to we wprk list of values with dict
mylist=[1,2,3,4,5,6,7,8,9]
for keys in range(0,len(mylist)):
    print(keys,mylist[keys],sep=" : ")

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7
7 : 8
8 : 9

In [46]:
# How to we wprk list of values with dict
mylist=[1,2,3,4,5,6,7,8,9]
for keys in range(0,len(mylist)+1):
    print(keys,mylist[keys],sep=" : ")

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7
7 : 8
8 : 9

IndexError: list index out of range

In [47]:
dict1

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL')}

In [49]:
dict1["branches"]

('CSE', 'ECE', 'EEE', 'CIVIL')

In [50]:
for branch in dict1["branches"]:
    print(branch)

CSE
ECE
EEE
CIVIL

In [51]:
# How to add new data in dictionary
print(dict1)
dict1["new key"]="new_value"
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL')}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'new_value'}

In [52]:
print(dict1)     
dict1["new key"]="value"   # here key will be duplicate value so it stores resent update key only becz, key ois a unique 
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'new_value'}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value'}

In [53]:
print(dict1)
dict1["key"]="value"
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value'}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value', 'key': 'value'}

In [54]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [55]:
# differences between pop and pop item
print(dict1)
dict1.popitem()
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value', 'key': 'value'}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value'}

In [56]:
print(dict1)
dict1.pop()
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value'}

TypeError: pop expected at least 1 arguments, got 0

In [57]:
print(dict1)
dict1.pop("new key")
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'new key': 'value'}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL')}

In [58]:
# update
print(dict1)
dict1.update({"list":[1,2,3,4,5,6],"hi":"hi","key":"value"})
print(dict1)

{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL')}
{'no': '36', 'name': 'Indu', 1: 1, 'branches': ('CSE', 'ECE', 'EEE', 'CIVIL'), 'list': [1, 2, 3, 4, 5, 6], 'hi': 'hi', 'key': 'value'}

In [59]:
# format in dictionary

# {} - format

SyntaxError: invalid syntax (<ipython-input-59-af630c3b1660>, line 6)

In [ ]:
## Read your college name from the uswer and make a dictionary of characters along with their ASCII values
# colg={"V":ASCII value}


# Task2

# Prepare a dictionary of suares for the number which are even in  a range (1,10)

# keys : range(1,10)
# values : squarea  1 ,4

# {1:1,2:4,3:9}



# Task 3 (bill app)

# idly :20
# dosa 30 

...

## Functions

- Function is defined as def keyword
- It is a block code which only runs when it is called
- It avoids repetation and make code reusuabulity
- Function nameing follow some rules
    - syn :
        - def funname(arguments):
                statemebts     # folow indentation
                
                
             - function call
                 - funnname(arguments) -----> function call
                 - Optional return statement to a return value from the function

In [67]:
# Check the given numbers are even or odd 14,12,35,26

num1=14
num2=12
num3=35
num4=26
# colg="vemu colg"
# branch="Cse"
# print("hi {} guys , you are {} branch".format(branch,colg))

if(num1%2==0):
    print('{} is even'.format(num1))
    
else:
    print('{} is odd'.format(num1))

    
if(num2%2==0):
    print('{} is even'.format(num2))
    
else:
    print('{} is odd'.format(num2))
    
    
if(num3%2==0):
    print('{} is even'.format(num3))
    
else:
    print('{} is odd'.format(num3))


if(num1%2==0):
    print('{} is even'.format(num4))
    
else:
    print('{} is odd'.format(num4))

14 is even
12 is even
35 is odd
26 is even

# with using function

In [68]:
def evenorodd(num):
    if(num%2==0):
        print('{} is even'.format(num))    
    else:
        print('{} is odd'.format(num))

In [69]:
# function call

evenorodd(14)

14 is even

In [72]:
evenorodd(13)

13 is odd