## Calculator
1.WAP To print Arithematic Operations like calculator

print("1.ADD")
print("2.SUB")
print("3.MUL")

choices=int(input("Choose your choice 1 or 2 or 3 ...."))

In [14]:
print("Welcome to calculator program choose the below options to perform mathemations operations")
print("1.ADD")
print("2.SUB")
print("3.MUL")
print("4.DIV")
print("5.MODDIV")
print("6.POW")
print("7.FLOORDIV")


choices=int(input("enter the number u want 1 or 2 or 3 or 4 or 5 or 6 or 7   : "))


num1=int(input("Enter the num1 value"))
num2=int(input("enter num2 value"))


def add(num1,num2):
    print("Addition of" ,num1 ,"+" , num2 ,"=" ,num1+num2)



def sub(num1,num2):
    print("subtraction of" ,num1 ,"-" , num2 ,"=" ,num1-num2)
    


def mul(num1,num2):
    print("multiplication of" ,num1 ,"*" , num2 ,"=" ,num1*num2)
    







if choices==1:
    add(num1,num2)
    
    
if choices==2:
    sub(num1,num2)
    
    
if choices==3:
    mul(num1,num2)

Welcome to calculator program choose the below options to perform mathemations operations
1.ADD
2.SUB
3.MUL
4.DIV
5.MODDIV
6.POW
7.FLOORDIV
enter the number u want 1 or 2 or 3 or 4 or 5 or 6 or 7   : 1
Enter the num1 value3
enter num2 value5
Addition of 3 + 5 = 8

In [ ]:
### Comprehensions


- We have two types of comprehensions
    - list Comprehension
       syn: [output    inputsequence  conditions/loops]
    - Dictionary Comprehension
       syn:  {output   condition check}

In [15]:
# normal

li=[]
start,stop=int(input("Lower")),int(input("upper"))
for num in range(start,stop+1):
    li.append(num)
print(li)

Lower2
upper20
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
# with using list comparision

licom=[print(num)  for num in range(int(input()),int(input())+1)]

5
10
5
6
7
8
9
10

In [22]:
## even number normal for loop

list1=[2,4,65,7,8,9,1,2,3,4,5,5,6,3,8,6,4,2,6]
even=[]
for i in list1:
    if i%2==0:
        even.append(i)
        
print(even)

[2, 4, 8, 2, 4, 6, 8, 6, 4, 2, 6]

In [23]:
## list comparision

list2=[2,4,65,7,8,9,1,2,3,4,5,5,6,3,8,6,4,2,6]
even1=[i for i in list2  if i%2==0]
print(even1)

[2, 4, 8, 2, 4, 6, 8, 6, 4, 2, 6]

In [ ]:
# [EVEN,EVEN ,65,7,8,9,1,2,3,4,5,5,6,3,8,6,4,2,6]

In [24]:
[I for I in list even if(i%2==0)else odd]

SyntaxError: invalid syntax (<ipython-input-24-31d548a0edd6>, line 1)

In [25]:
list2=[2,4,65,7,8,9,1,2,3,4,5,5,6,3,8,6,4,2,6]
even1=[i if i%2!=0 else "EVEN" for i in list2 ]
print(even1)

['EVEN', 'EVEN', 65, 7, 'EVEN', 9, 1, 'EVEN', 3, 'EVEN', 5, 5, 'EVEN', 3, 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN']

In [26]:
eg=[I for I in list2 "even" if(i%2==0) else "odd"]
eg

SyntaxError: invalid syntax (<ipython-input-26-228ecf0e7d32>, line 1)

In [27]:
list2=[2,4,65,7,8,9,1,2,3,4,5,5,6,3,8,6,4,2,6]
even1=["ODD" if i%2!=0 else "EVEN" for i in list2 ]
print(even1)

['EVEN', 'EVEN', 'ODD', 'ODD', 'EVEN', 'ODD', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'ODD', 'EVEN', 'ODD', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN']

In [ ]:
range(1,10) ---->[1,2,3,4,5,6,7,8,9,10]
[1,4,9,16,25.....]

In [30]:
[(I*I) for I in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
print([(I+J) for I in range(1,10) for J in range(1,10)],end=" ")

[2, 3, 4, 5, 6, 7, 8, 9, 10, 3, 4, 5, 6, 7, 8, 9, 10, 11, 4, 5, 6, 7, 8, 9, 10, 11, 12, 5, 6, 7, 8, 9, 10, 11, 12, 13, 6, 7, 8, 9, 10, 11, 12, 13, 14, 7, 8, 9, 10, 11, 12, 13, 14, 15, 8, 9, 10, 11, 12, 13, 14, 15, 16, 9, 10, 11, 12, 13, 14, 15, 16, 17, 10, 11, 12, 13, 14, 15, 16, 17, 18]

### Dictionary comprehension
- {key:value}

In [33]:
mydict={i  for i in range(1,11)}
print(mydict)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
print(type(mydict))

<class 'set'>

In [35]:
# In dictionary 
mydict={i:i  for i in range(1,11)}
print(mydict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [36]:
mydict={i:i*i  for i in range(1,11)}
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [37]:
# zip

rolno=["5A2","543","5A8","5A9"]
names=["Ganesh","Prudhvi","Lakshmi","Lavanya"]

dicti={}
for(key,value) in zip(rolno,names):
    dicti[key]=value
    
print(dicti)
print(type(dicti))

{'5A2': 'Ganesh', '543': 'Prudhvi', '5A8': 'Lakshmi', '5A9': 'Lavanya'}
<class 'dict'>

In [38]:
dicti.keys()

dict_keys(['5A2', '543', '5A8', '5A9'])

In [39]:
dicti.values()

dict_values(['Ganesh', 'Prudhvi', 'Lakshmi', 'Lavanya'])

In [40]:
dicti.items()

dict_items([('5A2', 'Ganesh'), ('543', 'Prudhvi'), ('5A8', 'Lakshmi'), ('5A9', 'Lavanya')])

## Generator comprehension

In [45]:
list1=[9,7,5,4,3,1]
a=(i*i for i in list1)
print(a)

for i in a:
    print(i)

<generator object <genexpr> at 0x000002962C6C7C00>
81
49
25
16
9
1

## Functional Programming

- Iterators
- Generators
- map
- filter
- lambda
- reduce

## Lambda

- The lambda is a operator or a lambda function is a way to create small ananymous function i.e.., function without a name
- Lambda is a combination of maps(),filter(),reduce
- syn
    - lambda arg1 arg2 arg3.....:exp

In [46]:
# normal function

def add(a,b):
    z=a+b
    return(z)

add(3,5)

8

In [47]:
type(add)

function

In [48]:
## With using lambda

a=lambda x,y:x+y
a(3,5)

8

In [49]:
type(a)

function

## map()
- It aplies a given function to all iterables and create a new list
- syn:
    - map(funname,[iterables],[iter2]............)

In [50]:
def mul(z):
    return z*z
m=map(mul,[1,2,3,4,5,6,7,8,9])
print(m)

<map object at 0x000002962C73EDA0>

In [51]:
def mul(z):
    return z*z
m=map(mul,[1,2,3,4,5,6,7,8,9])
print(list(m))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
def mul(z):
    return z*z
m=map(mul,(1,2,3,4,5,6,7,8,9))
print(tuple(m))

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [54]:
def mul(z):
    return z*z
m=map(mul,[1,2,3,4,5,6,7,8,9])
print(tuple(m))

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [56]:
task1=["APSSDC","vemu College","indu","Priya","SIddu"]
# change these list of vALUWS into uppercase with using map

result=map(str.upper,task1)
print(list(result))

['APSSDC', 'VEMU COLLEGE', 'INDU', 'PRIYA', 'SIDDU']