## Single and Double quotes

In [4]:
print("Hi am print function with double quotes")
print('I am print within single quote')

Hi am print function with double quotes
I am print within single quote

In [5]:
print(9+5)

14

In [6]:
print(3*7)

21

In [7]:
print("Hello","Python")

Hello Python

In [8]:
print("Indupriya  "*10)

Indupriya  Indupriya  Indupriya  Indupriya  Indupriya  Indupriya  Indupriya  Indupriya  Indupriya  Indupriya

## Idenfiers

- An identifier is the identity of paticular variables,classes,objects,functions,keywords etc..,
- It is naming convention given to a variables or objects
- it starts from A-z /a-z/ _
- Its not allow special characters

In [9]:
sample=100 
name="Indu"
desig="Developer"

sample
name
desig

'Developer'

In [10]:
sample=100 
name="Indu"
desig="Developer"

print(sample)
print(name)
print(desig)
print("sample= : " ,sample, "name= " , name,"desig=",desig)

100
Indu
Developer
sample= :  100 name=  Indu desig= Developer

In [11]:
sample

100

In [12]:
print(sample)

100

## Variables

- a variable is a container that is used to store the value/data/infor
- Variable declaration not support spasces..Instead of spaces we use _
- syn
    - var="string"
    - var=10
    - var= 20.0
    - var1,var2,var3=10,"hi",60.0
    
    
    
- other languages
    - int a= 10
    - string b ="hello

# Types of variable declaration

- singke variable assignment
- multi variable assignaments
- multi assignaments

In [13]:
a=10
b=20
c=a+b
print(a,b,c)

10 20 30

In [14]:
print(a,b,c, sep=" @ ")

10 @ 20 @ 30

In [15]:
print(b,c , sep=" $ ")

20 $ 30

In [16]:
print(a,b,c , sep="  ")

10  20  30

## Operators used in print()

In [17]:
- sep 
    - seperate the outputs in the print statement
- end
    - ends the print statement

IndentationError: unexpected indent (<ipython-input-17-8c45a33d0e14>, line 2)

In [ ]:
print(a, b ,sep= " #  ")

In [ ]:
print(c,end= " ~ ")

## Errors in Python

- When we gave the invalid statements in python then the program not be executed and its display error

### Types of errors in python
- We have so many errors in python
        - syntax error
        - name error
        - value error
        - indentation error
        - division error

In [ ]:
# syntax error

print "hello Vemu colg"

In [ ]:
# Index error
z=[1,2,3]
z[4]

In [ ]:

x

In [ ]:
# value error
int(name)

In [ ]:
## zero division error
i=20/0

In [ ]:
# Indentation errror

   a=50

In [18]:
a

10

## Data Types

- Data types are many types in realtime also in python
- Data types has some specification for its own
- In python we have following data types
    - Numerical Datatypes
        - Integer
        - float 
        - complex
    - String datatype
    - List
    - Tuple
    - Dictionary
    - set
    - Boolean

![Datatype](datatypes.jpeg)

In [41]:
## Numeriacl 

a=100
a1=100.0
a2=10+5j
print(a)
print(type(a))
print(a1)
print(type(a1))
print(a2)
print(type(a2))
# a3=11+6k
# a3

SyntaxError: invalid syntax (<ipython-input-41-f8219e78c597>, line 12)

## String
- String is defined as either single quote or double quote

In [24]:
mystr= "hello"
print(mystr)
mystr1='hello vemu'
print(mystr1)
print(type(mystr1))
mynum="100"
print(mynum)
print(type(mynum))

hello
hello vemu
<class 'str'>
100
<class 'str'>

In [25]:
a=hi

NameError: name 'hi' is not defined

In [26]:
t=80
h="hhh"

In [28]:
t

80

In [29]:
h

'hhh'

In [30]:
t=h

In [31]:
t

'hhh'

In [32]:
print(t,h)

hhh hhh

In [33]:
z=100
s=z

In [34]:
z

100

In [35]:
s

100

In [36]:
name="indu"

In [37]:
name

'indu'

In [38]:
myname=name

In [39]:
name

'indu'

In [40]:
myname

'indu'

In [42]:
## Dynamically

- input()
- input("Enter yor message")

In [ ]:
dynamic=input()

In [44]:
dynamic

'i am dynamic value'

In [45]:
print(type(dynamic))

<class 'str'>

In [46]:
print(dynamic)

i am dynamic value

In [1]:
string=input("Enter your name")

Enter your nameIndupriya

In [2]:
string

'Indupriya'

In [3]:
print(type(string))

<class 'str'>

In [4]:
number=input("enter number")

enter number100

In [5]:
print(type(number))

<class 'str'>

In [6]:
number

'100'

# Dynamically Integers

In [7]:
integer=int(input("Enter number"))

Enter number100

In [8]:
print(type(integer))

<class 'int'>

In [9]:
print(integer)

100

# Dynamic Float

In [11]:
myfloat=float(input("Enter float value"))

Enter float value100.00

In [12]:
print(type(myfloat))

<class 'float'>

In [14]:
print(myfloat)

100.0

In [15]:
mynumber1=int(input("enter float value"))

enter float value200.0

ValueError: invalid literal for int() with base 10: '200.0'

In [16]:
myfloat1=float(input("enter int value"))

enter int value300

In [17]:
myfloat1

300.0

In [18]:
print(type(myfloat1))

<class 'float'>

## List datatype

- It is defined as Square brackets [] 
- It supports hetrogenous data (different types of datatypes)and items seperated by cama,
- It is mutable(Changable)

In [19]:
mylist=[]
print(mylist)
print(type(mylist))

[]
<class 'list'>

In [20]:
mylist1=["Hello",30,79.0,"200",'Vemu colg']
print(mylist1)

['Hello', 30, 79.0, '200', 'Vemu colg']

In [21]:
mylist2=[2,7,8,9,4,66667778,445]
print(mylist2)

[2, 7, 8, 9, 4, 66667778, 445]

## Tuple
- It is declared as a paranthesis () 
- It is also accepted hetrogeneous data, and items seperated by camma\
- It is immutable(not changable)

In [26]:
mytuple=("hi",6,2.0,'hello')
print(mytuple)
print(type(mytuple))

('hi', 6, 2.0, 'hello')
<class 'tuple'>

### Dictionary
- It is defined as a flower braces{}
- It supports hetrogeneous data 
- It will be write as a {key:value}
    - key --- > is a unique value
    - value --->has no unique value
    
- It is mutable(changable)

In [27]:
dictionary={}
print(type(dictionary))

<class 'dict'>

In [28]:
dict1={1,5,6,7,8,9}    # here i didnt declare key:value
print(dict1)
print(type(dict1))

{1, 5, 6, 7, 8, 9}
<class 'set'>

In [33]:
dict2={"name":"Indu ","no":36,"desig":"developer", "name":"indu priya", 1:"one","one":"one"}

#  key: value

print(dict2)
print(type(dict2))

{'name': 'indu priya', 'no': 36, 'desig': 'developer', 1: 'one', 'one': 'one'}
<class 'dict'>

In [34]:
details={"firstname": "Indu" ,"secondname":"priya","no":36,"desig":"developer","sal":90000 ,"desig":"Trainer"}
details

{'firstname': 'Indu',
 'secondname': 'priya',
 'no': 36,
 'desig': 'Trainer',
 'sal': 90000}

In [39]:
details.keys()

dict_keys(['firstname', 'secondname', 'no', 'desig', 'sal'])

In [40]:
details.values()

dict_values(['Indu', 'priya', 36, 'Trainer', 90000])

In [42]:
details.items()

dict_items([('firstname', 'Indu'), ('secondname', 'priya'), ('no', 36), ('desig', 'Trainer'), ('sal', 90000)])

### Set

- It is also declared as a {}
- set()
- In same datatype it display ascending order
- It removes duplicates
- It is mutable

In [43]:
myset={"hi",45,78,90,12,"Hi","indu","INDU",2,4,5,5,5,5,5,1,0,7,"  indu"}

In [44]:
myset

{'  indu', 0, 1, 12, 2, 4, 45, 5, 7, 78, 90, 'Hi', 'INDU', 'hi', 'indu'}

In [ ]:
ascii

In [45]:
chr(0)

'\x00'

In [47]:
ord("a")

97

In [48]:
chr(97)

'a'

In [49]:
ord(" ")

32

In [51]:
ord("I")

73

In [52]:
ord("i")

105

In [53]:
myset1={5,6,7,8,9999,4,5,6,7,7,7,3,5,6,2,1,1,1,0}
myset1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9999}

In [54]:
myset2={"hi,Helo","a","A","S","s"}

In [55]:
myset2

{'A', 'S', 'a', 'hi,Helo', 's'}

## Boolean Data type

In [56]:
5>6

False

In [57]:
"hi">"HI"

True

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> complex
Help on class complex in module builtins:

class complex(object)
 |  complex(real=0, imag=0)
 |
 |  Create a complex number from a real part and an optional imaginary part.
 |
 |  This is equivalent to (real + imag*1j) where imag defaults to 0.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(...)
 |      complex.__format__() -> str
 |
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  conjugate(...)
 |      complex.conjugate() -> complex
 |
 |      Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

help> boolean
No Python documentation found for 'boolean'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> datatypes
No Python documentation found for 'datatypes'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [ ]:
dir(str)

In [ ]:
dir(int)