## Tuples

- Tuple is defined as a Paranthesis()
- It accepts Hetrogeneous data types and seperated by comma
- Tuples are immutable (not chnagable)

In [2]:
tuple1=()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [4]:
tuple2=("tuple1",10,30.0,"40",10)  # supports all data types and duplicates also
print(tuple2)
print(type(tuple2))

('tuple1', 10, 30.0, '40', 10)
<class 'tuple'>

In [10]:

t=(13,45,67,89,1,3,5,7,9,8,6,4,2)
print(t)
print(t[3])
print(t[8])
print(t[1:2])
print(t[3:6])
print(t[1:1])
print(t[::-1])

(13, 45, 67, 89, 1, 3, 5, 7, 9, 8, 6, 4, 2)
89
9
(45,)
(89, 1, 3)
()
(2, 4, 6, 8, 9, 7, 5, 3, 1, 89, 67, 45, 13)

In [11]:
t

(13, 45, 67, 89, 1, 3, 5, 7, 9, 8, 6, 4, 2)

In [12]:
# Is tuple immutable or not

t[1]

45

In [14]:
t[1]=0  # tuple is immutable so we cant change are assign another variable

TypeError: 'tuple' object does not support item assignment

In [19]:
# Nested Tuple
t1=(13,24,35,(46,57,68),79,80)
#   0   1 2      3      4  5
#           3[0] 3[1] 3[2]
print(t1)
print(type(t1))
print(t1[3][1])

(13, 24, 35, (46, 57, 68), 79, 80)
<class 'tuple'>
57

In [21]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [22]:
t1

(13, 24, 35, (46, 57, 68), 79, 80)

In [31]:
t2=(12,13,23,34,45,45,(36,45,36),57,8,9,4,7,6)
#   0  1  2  3  4  5     6       7  8 9 10 11 12

print(t2.count(45))  # to count items
print(t2.index(6))  # to know the index position 
print(t2.index(13))

2
12
1

## Tuple Packing  and Unpacking

In [30]:
# Tuple Packing
t3=("Indu" ,"Vemu","APSSDC","Developer")
# Tuple Unpacking

Name,Colg,Org,Desig=t3
print(Name)
print(Colg)
print(Org)
print(Desig)
print(t3)

Indu
Vemu
APSSDC
Developer
('Indu', 'Vemu', 'APSSDC', 'Developer')

## Type casting through tuples

In [32]:
a=10
b=str(a)

In [33]:
print(type(a))
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'str'>
10
10

# Delete

In [34]:
t4=(34,5,6,7,1,2)

In [35]:
del t4

In [36]:
t4

NameError: name 't4' is not defined

In [38]:
t5=(13,2,56,7,8,3,5,6,7)
t5

(13, 2, 56, 7, 8, 3, 5, 6, 7)

In [39]:
del t5
print(t5)

NameError: name 't5' is not defined

In [ ]:
int ---- >str
float---->int
int--->float

## List to Tuple

In [41]:
list1=[13,24,35,46,37]
print(list1,type(list1))

[13, 24, 35, 46, 37] <class 'list'>

In [42]:
t=tuple(list1)
print(t,type(t))

(13, 24, 35, 46, 37) <class 'tuple'>

In [43]:
list1

[13, 24, 35, 46, 37]

In [44]:
t

(13, 24, 35, 46, 37)

In [45]:
list1[2]=0
print(list1,type(list1))

[13, 24, 0, 46, 37] <class 'list'>

In [46]:
t[2]=0
print(t,type(t))

TypeError: 'tuple' object does not support item assignment

In [47]:
# Builtin functions
t1

(13, 24, 35, (46, 57, 68), 79, 80)

In [48]:
t6=(29,36,45,90,67,1,3,1,4,2,2,2)
print(type(t6))
print(len(t6))
print(min(t6))
print(max(t6))
print(sorted(t6))
print(sum(t6))

<class 'tuple'>
12
1
90
[1, 1, 2, 2, 2, 3, 4, 29, 36, 45, 67, 90]
282

In [49]:
# Reverse tuple
t1

(13, 24, 35, (46, 57, 68), 79, 80)

In [50]:
t1[::-1]

(80, 79, (46, 57, 68), 35, 24, 13)

In [ ]:
t9=(36,"Indu","APSSDc","50000")
# unpack
# rollno
#name
# Org
# sal

In [51]:
# swapping

t1

(13, 24, 35, (46, 57, 68), 79, 80)

In [52]:
t2

(12, 13, 23, 34, 45, 45, (36, 45, 36), 57, 8, 9, 4, 7, 6)

In [53]:
print(t1,t2)

(13, 24, 35, (46, 57, 68), 79, 80) (12, 13, 23, 34, 45, 45, (36, 45, 36), 57, 8, 9, 4, 7, 6)

In [54]:
# variable assignment 

print(t1)
print(t2)

t1,t2=t2,t1  # swapping
print(t1)
print(t2)

(13, 24, 35, (46, 57, 68), 79, 80)
(12, 13, 23, 34, 45, 45, (36, 45, 36), 57, 8, 9, 4, 7, 6)
(12, 13, 23, 34, 45, 45, (36, 45, 36), 57, 8, 9, 4, 7, 6)
(13, 24, 35, (46, 57, 68), 79, 80)

In [62]:
t3=(12,34,25,[13,45,56],10)
# change  22 instead of 56
t3[3][2]=22
print(t3)

(12, 34, 25, [13, 45, 22], 10)

In [57]:
t3

(12, 34, 25, [13, 45, 56], 10)

In [58]:
t4=list(t3)

In [59]:
t4

[12, 34, 25, [13, 45, 56], 10]

In [60]:
t4[3][2]=22
print(t4)

[12, 34, 25, [13, 45, 22], 10]

In [64]:
t5=tuple(t4)
print(t5,type(t5))

(12, 34, 25, [13, 45, 22], 10) <class 'tuple'>

In [65]:
# WAP to calculate the average value of numbers in given tuple of tuples

## Sets

- A set is a well defined collection of objects 
- collection of elements
- Sets allows the user to store duplicate values while initilizing stage
- But after that it remove duplicate data after declaration 
- set is defined as set()
- but set is directly defined and represent as {}
- It cannot follow order

In [66]:
set1=set([10,20,"Indu","Vemu colg","siddu","90"])
print(set1)
print(type(set1))

{'Vemu colg', 10, 20, 'siddu', '90', 'Indu'}
<class 'set'>

In [67]:
set2={10,20,"Indu","Vemu colg","siddu","90"}
print(set2)
print(type(set2))

{'Vemu colg', 10, 20, 'siddu', '90', 'Indu'}
<class 'set'>

In [68]:
for item in set2:
    print(item)

Vemu colg
10
20
siddu
90
Indu

In [70]:
## Can u elimiate the duplicate elements in list?   ----> directly not possible in list
# By implementing our logic to find unquie list with the help of set


# In list
mylist=[13,24,35,46,57,57,46,36,78,78,69,47]  # 56,46,78
unique=[]  # No duplicate values
for num in mylist:
    if num not in unique:
        unique.append(num)
        
unique

[13, 24, 35, 46, 57, 36, 78, 69, 47]

In [71]:
# In set We automatically remove the duplicates
myset={13,24,35,46,57,57,46,36,78,78,69,47}  # set didnt follow order but remove duplicates
print(myset)
print(type(myset))

{35, 36, 69, 13, 46, 78, 47, 24, 57}
<class 'set'>

In [ ]:
a={13,2,3,4,6,1,2,3,5,3,6,7,9}

# union ,Intersetion,disjoint , difference, subset,superset ......