## Data Structures


- Data Structures are a way of organizing and storing the data
- So that they can be accessed and worked with efficiently

#### Types of data structures

- List
- tuple
- dictionary
- set

## List: 

- It holds an ordered collection of data and it is mutable(changable)
- List is defined as a []
- It supports a hetrogenous datatypes

In [1]:
# empty list

li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [2]:
li1=[1,3,5,7,3,5,6,7,3,7,8,9,1]    # same datatype
print(li1)
print(type(li1))

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1]
<class 'list'>

In [3]:
li2=[1,3,5,7,3,5,6,7,3,7,8,9,1,"Pthon","Vemu colg","20,0"] # all datatypes
print(li2)
print(type(li2))

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']
<class 'list'>

## Slicing

In [5]:
                             #                  14            17           18     19
li3=[1,3,5,7,3,"Indu",5,6,7,"INDU",3,"2936",7,8,9,1,"Python","Vemu colg","20,0" ,"hi"]
   # 0 1 2 3 4  5   6   7 8   9    10  11  12 13  15  16


print(li3[0])

# List supports all types slicing

# positive iindex
# negative index
# Slicing

1

In [137]:
print(li3[9])  # positive iindex
print(li3[-3])  # negative index
print(li3[:])  # slicing
print(li3[16]) # index
print(li3[16:17])  # positive slicing
print(li3[-4:-3]) #negative slicing
print(li3[::-1]) # reverse 
print(li3[1:19:2])  # slice through odd places
print(li3[::3])

INDU
Vemu colg
[1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']
Python
['Python']
['Python']
['hi', '20,0', 'Vemu colg', 'Python', 1, 9, 8, 7, '2936', 3, 'INDU', 7, 6, 5, 'Indu', 3, 7, 5, 'one', 1]
['one', 7, 'Indu', 6, 'INDU', '2936', 8, 1, 'Vemu colg']
[1, 7, 5, 'INDU', 7, 1, '20,0']

In [138]:
## List is mutable so we add data into list in many ways
print(li3)

[1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']

In [21]:
li3[1]="one"
print(li3)

[1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']

In [23]:
## List concatination

print(li1)
print(li2)
print(li3)

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1]
[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']
[1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']

In [25]:
print(li1+li3)

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']

In [26]:
li4=li1+li3

In [28]:
print(li4)

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 1, 'one', 5, 7, 3, 'Indu', 5, 6, 7, 'INDU', 3, '2936', 7, 8, 9, 1, 'Python', 'Vemu colg', '20,0', 'hi']

## Nested List

- List inside list

In [36]:
                   #     3[0]    3[1] 3[2] [3][3][0] [3][3][1] [3][4]
li5=["hi","vemu","colg",["Python",29,36.0,["Indu","siddu"],"Priya"],"INDU","PRIYA"]
  
  #   0     1      2                                                     4     5 
    

print(li5[1])
print(li5[3][-1]) 
print(li5[-1])
print(li5[5])
print(li5[3][3][1])

vemu
Priya
PRIYA
PRIYA
siddu

## Builtin functions

In [37]:
li6=[29,36,45,90,67,1,3,1,4,2,2,2]
print(type(li6))
print(len(li6))
print(min(li6))
print(max(li6))
print(sorted(li6))
print(sum(li6))

<class 'list'>
12
1
90
[1, 1, 2, 2, 2, 3, 4, 29, 36, 45, 67, 90]
282

In [38]:
li7=["Vemu","python","CSE","PYTHON"]
print(type(li7))
print(len(li7))
print(min(li7))
print(max(li7))
print(sorted(li7))
print(sum(li7))  # This is string string datatype list so it cant do sum functon

<class 'list'>
4
CSE
python
['CSE', 'PYTHON', 'Vemu', 'python']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
# Differences between all ,any

li8=[]
li9=["Siddu","Indu","vemu colg","APSSDC"]

print(all(li8))  # all checks for the list
print(all(li9))
print(any(li8))  # any checks for element
print(any(li9))
# all(python) # no list name for python
# any(python) # no list name for python

True
True
False
True

### List Methods With Problem solving

In [47]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# append

- This is function add a single element at the end of the list

In [48]:
li2

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']

In [49]:
li1

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1]

In [50]:
mylist=[36,29,13,78,25]
mylist.append("New")
print(mylist)

[36, 29, 13, 78, 25, 'New']

In [51]:
mylist=[36,29,13,78,25]
mylist.append(["New","hi"])
print(mylist)

[36, 29, 13, 78, 25, ['New', 'hi']]

In [52]:
mylist=[36,29,13,78,25]
mylist.append(1,2,3,4,5,6)
print(mylist)

TypeError: append() takes exactly one argument (6 given)

In [ ]:
# Task1:

# WAP to accept 10 numbers from the user  and add in the given list

# mylist=[36,29,13,78,25]


# TASK2 

# WAP to accept 20 numbers from user if the given number is even list1  and user given  number is odd added in list 2

In [56]:
n = int(input("1st"))
i = int(input("2nd"))
p = int(input("3rd"))
mylist = [32,4,5,611,899]
mylist.append([n,i,p])
print(mylist)

1st1
2nd2
3rd3
[32, 4, 5, 611, 899, [1, 2, 3]]

## Extend

- This function adds all the elements of one list at the end of other list

In [55]:
li2

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']

In [57]:
li1.extend(li2)

In [59]:
print(li1)

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']

In [60]:
print(li2)

[1, 3, 5, 7, 3, 5, 6, 7, 3, 7, 8, 9, 1, 'Pthon', 'Vemu colg', '20,0']

## insert()
- This function helps us to add an element at a specific index value

In [61]:
mylist

[32, 4, 5, 611, 899, [1, 2, 3]]

In [62]:
mylist.insert(3,9)
print(mylist)

[32, 4, 5, 9, 611, 899, [1, 2, 3]]

## Reverse()
- This function simply reverse the order of all elements in the list

In [67]:
mylist.reverse()
mylist

[[1, 2, 3], 899, 611, 9, 5, 4, 32]

## Index() 
- This method of list returns the index value of first occurence of searched element in the list

In [69]:
mylist.index(3)  # here 3 value in the seperate list so it shows no 3 value is there

ValueError: 3 is not in list

In [70]:
mylist.index(4)

5

## len()

- Function returns length of list

In [71]:
len(mylist)

7

In [72]:
mylist.sort()  # It suppoerts only same datatype

TypeError: '<' not supported between instances of 'int' and 'list'

In [73]:
l=[1,4,1,4,5,6,7,8]
l.sort()

In [74]:
l

[1, 1, 4, 4, 5, 6, 7, 8]

## Count

- This function returns the frequency of an element in the list.
- How many times an element occur in the listm

In [75]:
l

[1, 1, 4, 4, 5, 6, 7, 8]

In [76]:
l.count(4)

2

In [77]:
l.count(9)

0

## Clear()

This function remove all the elements  of the list

In [78]:
l

[1, 1, 4, 4, 5, 6, 7, 8]

In [79]:
l.clear()

In [80]:
l

[]

# Delete Operations

- pop()
- remove()
- delete()

In [ ]:
- pop()
    - This function delete /remove element from specified index..This function also return the deleted elements

In [91]:
list1=[34,23,1,25,7,8,9,6,7,8]

In [108]:
list1.pop(1)

1

In [110]:
list1

[34, 7]

## Delete()

- the delete statement delete the element from specified index.. This statement doesnot return the element

In [96]:
list1

[34, 23, 1, 25, 9, 6, 7, 8]

In [100]:
del(list1[4])

In [101]:
list1

[34, 23, 1, 25, 6, 7, 8]

In [102]:
del(list1[6])

In [103]:
list1

[34, 23, 1, 25, 6, 7]

In [104]:
del(list1[1:2])

In [105]:
list1

[34, 1, 25, 6, 7]

In [106]:
del(list1[2:4])

In [107]:
list1

[34, 1, 7]

## Remove()

In [112]:
list2=[11,65,7,8,0,6,6,4,3,23,4,5,6]
list2

[11, 65, 7, 8, 0, 6, 6, 4, 3, 23, 4, 5, 6]

In [113]:
list2.remove(11)

In [114]:
list2

[65, 7, 8, 0, 6, 6, 4, 3, 23, 4, 5, 6]

In [115]:
list2.remove(6)

In [116]:
list2

[65, 7, 8, 0, 6, 4, 3, 23, 4, 5, 6]

In [118]:
list2.remove(6)

In [119]:
list2

[65, 7, 8, 0, 4, 3, 23, 4, 5, 6]

In [ ]:
# WAP to remove all even numbers in the given list

l1=[45,67,88,22,2,2,4,6,8,9,1,3,2,5,6,7]

### Tasks

3. WAP to find second largest number in the given list

Ex:[12,4,6,34]
o/p : 12


4. i/p : li1= [10,20,30,40]
       : li2= [100,200,300,400]
       
       
       o/p : 10  400
             20  300
             30  200
             40  100
             
             
5.mylist=["hi"," ","Vemu","Python","","A","b"," "]

Delete the empty string

In [130]:
li = [1,2,3,4]
li1 = [98,768,54,628]
li
li1.reverse()
print(li,li1)

[1, 2, 3, 4] [628, 54, 768, 98]

In [136]:
li=[1,2,3,4]
li1=[98,768,54,628]
for x,y in zip(li,li1[::-1]):
    print(x,y)

1 628
2 54
3 768
4 98