## Today Topics
- lambda
- map()
- filter()
- reduce()

### Lambda
- Anonymous function
- Used to creating small function
- **Syntax: lambda arg1, arg2... argN : expression**

In [1]:
add1 = 10 + 20 
add1

30

In [2]:
type(add1)

int

In [4]:
def add2(x, y):
    print(x + y)
    
add2(10, 20)

30

In [5]:
type(add2)

function

In [6]:
add2

In [7]:
lambda x, y : x + y ## Lambda iteself returns a function object
# lambda arg1,arg2 : expression

In [8]:
add3 = lambda x, y : x + y

In [9]:
add3

In [10]:
add3(10,20)

30

In [11]:
cube = lambda x, y : x ** y
cube(4,3)

64

#### Conditional statements using lambda function
- **syntax: lambda axg1, arg2,.. : statement if...else..condition**

In [12]:
def value(x):
    if x > 10 and x < 20 :
        return True
    else:
        return False

In [13]:
value(12)

True

In [14]:
value(20)

False

In [15]:
value(1)

False

In [17]:
value2 = lambda x : True if(x > 10 and x < 20) else False

In [18]:
value2(13)

True

In [20]:
value2(133)

False

#### lambda function using conditional statements Without keywords

In [21]:
value3 = lambda x : (x > 10 and x < 20)

In [22]:
value3(15)

True

In [23]:
value3(500)

False

### map()
- map() function will take any function as an argument
- **syntax: map(function, iterable1, iterable2, ....)**
- To print output using map(), use list or tuple or set but not dictionary.

In [26]:
def multiple(a):
    return a * a

print(multiple(4))
print(multiple(5))
print(multiple([1,2,3,4,5]))## Error

16
25

TypeError: can't multiply sequence by non-int of type 'list'

In [27]:
def multiple(a):
    return a * a

for i in [1,2,3,4,5]:
    print(multiple(i))

1
4
9
16
25

In [29]:
def multiple2(a):
    return a * a

list(map(multiple2, [1,2,3,4,5]))
## multiple2 function as an argument

[1, 4, 9, 16, 25]

In [32]:
trainers = ('IndhuPriya', 'Siddodhana','NagaMounika')
set(map(str.upper, trainers))

{'INDHUPRIYA', 'NAGAMOUNIKA', 'SIDDODHANA'}

In [30]:
'IndhuPriya'.upper()

'INDHUPRIYA'

In [33]:
list(map(lambda x1 : x1**3, [1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [34]:
list(map(lambda x2 : x2%2 == 0, [1,2,3,4,5,6,7]))
# Here Output is list of boolean values

[False, True, False, True, False, True, False]

In [ ]:
# Instead of boolean values, want to print output as list of even values eg:[2,4,6]

### filter()
- similar to map()
- **Syntax: filter(function, iterables)**

In [35]:
filter(lambda x2 : x2%2 == 0, [1,2,3,4,5,6,7])

In [37]:
list(filter(lambda x2 : x2%2 == 0, [1,2,3,4,5,6,7]))

[2, 4, 6]

#### Task: Use lambda function
- Take values 'x'
- If x lessthan 10, return x * 2
- If x is between 10 and 20, then return x ** 3
- return x

In [38]:
a = lambda x : x * 2 if x < 10 else (x ** 3 if x>10 and x<20 else x)

In [39]:
a(12)

1728

In [40]:
12 **3

1728

### reduce()
- returns single value
- **syntax: reduce(function, iterable1, iterable2,...)**
- import reduce() from functools package

In [41]:
from functools import reduce

In [42]:
## multiply list of values with itself
list1 = [1,2,3,4,5]

def multiple1(x):
    return x * x

list(map(multiple1, list1))

[1, 4, 9, 16, 25]

In [43]:
list(reduce(multiple1, list1))

TypeError: multiple1() takes 1 positional argument but 2 were given

In [44]:
## multiply all values in given list
def multiple2(x,y):
    return x * y

reduce(multiple2, list1)
## Here each value in list1 is an argument
## list1 = [1,2,3,4,5]
##         [x,y]     [2,3,4,5]
##                   [x,y]       [6,4,5]
##                               [x,y]

120

In [45]:
list(map(multiple2, list1))
## here each list is an argument
## x = list1, y = ?

TypeError: multiple2() missing 1 required positional argument: 'y'

In [46]:
def addition(a,b):
    return a + b

list(map(addition,[1,2,3],[10,20,30]))

[11, 22, 33]

#### Task: Use lambda, filter or map
- list1 = [19,13,90,30,55,57,190,65,88,155]
- Return values which is divisible by 19 or 13
- Note: return values not boolean